.left_image {
  width: 400px;
  height: 300px;
  float: left;
}
.right_image {
  width: 200px;
  height: 100px;
}
.compare_image {
  max-width: 400px;
  max-height: 300px;
  width: 100%;
  height: auto;
}
.only_image {
  max-width: 600px;
  max-height: 400px;
  width: 100%;
  height: auto;
}
.visual_image {
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: auto;
}
.background_color{
  background: rgb(208, 196, 211)
}
