.left_image{
    width: 400px;
    height: 300px;
    float: left
}
.right_image{
    width: 200px;
    height: 100px;
}
.compare_left_image{
    width:400px;
    height:300px;
    float: left
}
.compare_right_image{
    width:400px;
    height:300px;
    float: right
}
.only_image{
    width:600px;
    height:500px;
    float: center
    }