.left_image{
    width: 350px;
    height: 350px;
    float: left
}
.right_image{
    width: 200px;
    height: 200px;
}
.compare_left_image{
    width:300px;
    height:250px
}
.compare_right_image{
    width:300px;
    height:250px
}